.stats-container {
  display: flex;
  justify-content: space-between;
  width:70%;
}

/* Individual stat box */
.stat-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-secondary);
  font-family: "Segoe UI", sans-serif;
  margin: 8vw;
}

/* Number styling */
.stat-number {
  font-weight: bold;
  color: var(--BW);
}

/* Label styling */
.stat-label {
  margin-top: 0.25rem;
  text-align: center;
}
.stat-box span {
  font-size: 160%;
}

/* Medium screens (tablets) */
@media (max-width: 898px) {
  .stats-container {
    padding: 2rem 1rem;
  }
  
.stat-box span {
  font-size: 100%;
}



  .stat-label {
    font-size: 0.95rem;
  }
}
@media (max-width:600px) {
  
  .stats-container {
    padding: 0rem 0rem;
  }
  
.stat-box span {
  font-size: 90%;
}

}
/* Small screens (mobile) */
@media (max-width: 400px) {
  .stats-container {
    align-items: center;
  }

  .stat-box span {
    font-size: 50%;
  }

}
