.stats-container {
  display: flex;
  justify-content: space-between;
}

/* Individual stat box */
.stat-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-secondary);
  font-family: "Segoe UI", sans-serif;
  padding: 4rem;
}

/* Number styling */
.stat-number {
  font-weight: bold;
  color: var(--clean-white);
}

/* Label styling */
.stat-label {
  margin-top: 0.25rem;
  text-align: center;
}
.stat-box span {
  font-size: 160%;
}

/* Medium screens (tablets) */
@media (max-width: 768px) {
  .stats-container {
    padding: 3rem 2rem;
  }


  .stat-label {
    font-size: 0.95rem;
  }
}

/* Small screens (mobile) */
@media (max-width: 480px) {
  .stats-container {
    align-items: center;
  }

  .stat-number {
    font-size: 1.6rem;
  }

}
