
  
  .header {
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: transparent;
  }
  /* Logo Container*/
.logo {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-inline: 20px;
}

.logo_img {
  width: clamp(3rem, 8vw, 2rem);
  height: auto;
}
.logo-text {
  white-space: nowrap; 
  text-overflow: ellipsis; 
  overflow: hidden; 
  max-width: 100%;
  text-align: center; 
  margin: 0;
}

.logo p1 {
  font-weight: bold;
  font-size: clamp(.1rem, 1.5vw, 1.25rem); 
  color: var(--BW);
  padding-bottom: .4rem;
}

.logo p2 {
  font-size: clamp(0.1rem, 1vw, 0.9rem);
  color: #5f6368; 
}
  
  .menu_ele {
    margin: 1vw;
    border: none;
    padding: 1vw;
    color:var(--BW);
    background-color: transparent;
    font-weight: bolder;
  }

  .menu_ele:hover {   
     color: #ec7748;
  }

  
  @media (max-width: 768px) {
    .header {
      padding-top: 20px;
      border-bottom: var(--border-primary);
      justify-content: center;
    }

}