
  
  .header {
    margin: 0;
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: transparent;
  }
  /* Logo Container*/
.logo {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-inline: 20px;
  z-index: 1001;
}

.logo_img {
  width: clamp(3rem, 8vw, 2rem);
  height: auto;
}
.logo-text {
  white-space: nowrap; 
  text-overflow: ellipsis; 
  overflow: hidden; 
  max-width: 100%;
  text-align: center; 
  margin: 0;
}

.logo p1 {
  font-weight: bold;
  font-size: clamp(.1rem, 1.5vw, 1.25rem); 
  color: var(--BW);
  padding-bottom: .4rem;
}

.logo p2 {
  font-size: clamp(0.1rem, 1vw, 0.9rem);
  color: #5f6368; 
}
  
  .menu_ele {
    margin: 1vw;
    border: none;
    padding: 1vw;
    color:var(--BW);
    background-color: transparent;
    font-weight: bolder;
  }

  .menu_ele:hover {   
     color: #ec7748;
  }
  .side-menu {
      background-color: var(--bg-primary);
      display: flex;
      position: fixed;
      top: 0;
      right: 0;
      height: 100%;
      z-index: 1000;
      padding-bottom: 1000%;
      box-shadow: var(--BW) 0px 0px 10px 0px;
      transition: transform 0.3s;
  }
  .side-menu {
    transform: translateX(100%);
  }
  
  .side-menu-active {
    transform: translateX(0%);
  }
  
  .menu-toggle {
    display: none; 
  }
  .close-btn {
    background-color: transparent;
    color: brown;
    border: none;
    font-size: medium;
    margin-right: 100%;
    padding: 10px;
    z-index: 1000;
  }
  .close-btn:hover {
    color: var(--BW);
  }
  .menu {
    margin-right: 20px;
  }
  .menu1 a{
    display: flex;
    align-items: start;
    flex-direction: column;
    text-decoration: none;
    padding-left: 40px;
  }
  @media (max-width: 820px) {
    .active-sidemenu {
      backdrop-filter: blur(10px);
      border-left:var(--BW) solid .8px;
    }
    .header .logo{
      margin-right: auto;
    }
    .menu-toggle {
      margin: 10px;
      background: transparent;
      border: none;
      color: var(--BW);
      font-size: 2rem;
    }
    .menu , .menu1{
      display: none; 
    }
    .active {
      display: block; 
    }
    .menu-toggle{
      display: block;
    }
    .header {
      border-bottom: var(--border-primary);
      justify-content: center;
    }

}