.Prizes-container {
    text-align: center;
    margin-block: 100px;
    background-color: transparent;
  }
  .Prizes-container h2{ 
    background: linear-gradient(to right, #ec7748, #6b214e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  }
  
  .section-title {
    font-size: 2rem;
    margin-bottom: 40px;
    color: var(--text-primary);
  }
  
  .section-title span {
    background: var(--gradient-primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  /* Prizes Grid */
  .Prizes-scroll {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-content: center;
  }
  
  /* Prize Card */
  .Prize-card {
    background:transparent;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px var(--accent-color);
    text-align: center;
    color: var(--text-primary);
    transition: all 0.3s ease-in-out;
    border: 2px solid var(--accent-color);
    backdrop-filter: blur(10px);
    display: flex;
  }
  
  /* Card Hover Effect */
  .Prize-card:hover {
    background: var(--gradient-primary);
    transform: translateY(-5px);
    box-shadow: 0px 4px 10px var(--accent-color);
  }
  
  /* Prize Image */
  .Prize-image {
    width: 10%;
    object-fit: contain;
    border-radius: 10px;
    margin: 2% 3% 0px 0px;
  }
  .prize-content {
    align-items: center;
    justify-content: center;
  }
 
  
  @media (max-width: 768px) {
    .Prizes-scroll {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .Prize-card {
      width: 99%;
    }
    .Prize-image {
      height: 150px;
    }
  }