body {
    margin: 0px;
    padding: 0px;
    background-color: var(--bg-primary);
}
button {
    cursor: pointer;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
}
